body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  text-align: center;
}
img {
  border: none;
  display: block;
  margin: 0 auto;
}
nav {
  text-align: center;
}
nav > a {
  background-color:springgreen;
  padding-left: 10px;
  padding-right: 10px;
}
figure {
  text-align: center;
}
section#featured-property p{
  width: 800px;
  text-align: center;
  margin: 0 auto 10px;
}
section#details div {
  float: left;
  background-color: red;
  width: 25%
}
